
p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

h1{
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #976029;
}

h2{
    font-family: Arial, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #6e2d8d;
}

h3{
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

label {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 8px;
    display: block; /* Garante que o rótulo fique acima do input */
}

.imagem-fixa {
  position: fixed;
  size: 25%;
  bottom: -200px; /* Distância da parte de baixo */
  right: -30px;  /* Distância da parte da direita */
  z-index: -1; /* Garante que ela fique por cima de tudo */
}
